<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "uk-form uk-form-stacked form-user"}) do |f| %>


<div class="uk-form-row large-form">
    <%= f.input :fname, placeholder: 'First Name', label: false, class: 'uk-width-1-1', html: {spellcheck: "false"}, required: true %>
</div>
<div class="uk-form-row large-form">
    <%= f.input :lname, placeholder: 'Last Name', label: false,class: 'uk-width-1-1', html: {spellcheck: "false"}, required: true %>
</div>
<div class="uk-form-row large-form">
    <%= f.input :username, placeholder: 'Username', label: false,class: 'uk-width-1-1', html: {spellcheck: "false"}, required: true %>
</div>

<div class="uk-form-row large-form">
    <%= f.input :email, placeholder: 'Email', label: false,class: 'uk-width-1-1', html: {spellcheck: "false"}, required: true %>
</div>

<div class="uk-form-row large-form">
    <%= f.input :password, placeholder: 'Password', label: false,class: 'uk-width-1-1', html: {autocomplete: "off"}, required: true %>
</div>

<div class="uk-form-row large-form">
    <%= f.input :password_confirmation, label: false, placeholder: 'Confirm password', class: 'uk-width-1-1',  html: {autocomplete: "off"}, required: true %>
</div>

<div class="uk-form-row large-form">
    <%= f.submit "Sign Up", class: "uk-button uk-width-1-1" %>
</div>

<div class="uk-form-row large-form">
    <%= render "devise/shared/links" %>
</div>

<% end %>