<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "uk-form uk-form-stacked form-user"}) do |f| %>


<div class="uk-form-row large-form">
    <%= f.text_field :fname, placeholder: 'First Name', class: 'uk-width-1-1', html: {spellcheck: "false"} %>
    <%= f.error :fname, id: 'fname_error' %>
</div>
<div class="uk-form-row large-form">
    <%= f.text_field :lname, placeholder: 'Last Name', class: 'uk-width-1-1', html: {spellcheck: "false"} %>
    <%= f.error :lname, id: 'lname_error' %>
</div>
<div class="uk-form-row large-form">
    <%= f.text_field :username, placeholder: 'Username', class: 'uk-width-1-1', html: {spellcheck: "false"} %>
    <%= f.error :username, id: 'username_error' %>
</div>

<div class="uk-form-row large-form">
    <%= f.email_field :email, placeholder: 'Email', class: 'uk-width-1-1', html: {spellcheck: "false"} %>
</div>

<div class="uk-form-row large-form">
    <%= f.password_field :password, placeholder: 'Password', class: 'uk-width-1-1', html: {autocomplete: "off"} %>
</div>

<div class="uk-form-row large-form">
    <%= f.password_field :password_confirmation, placeholder: 'Confirm password', class: 'uk-width-1-1',  html: {autocomplete: "off"} %>
</div>

<div class="uk-form-row large-form">
    <%= f.submit "Sign Up", class: "uk-button uk-width-1-1" %>
</div>

<div class="uk-form-row large-form">
    <%= render "devise/shared/links" %>
</div>

<% end %>