<%= simple_form_for @budget, :html => { :class => 'uk-form-vertical form-model form-budget page-form-centered' } do |f| %>

<div class="uk-form-row">
    <%= f.input :active, type: 'checkbox', hint: "The active budget will appear on the home page.", :class => 'text-field form-control' %>
</div>
<div class="uk-form-row">
    <%= f.input :name, placeholder: "Budget Name", :class => 'text-field form-control',label_html: {class: 'uk-hidden-small'}, input_html: {class: 'uk-width-small-1-1 uk-width-medium-1-4'} %>
</div>
<div class="uk-form-row">
    <%= f.input :planned_savings, placeholder: "Planned Savings", :class => 'text-field form-control',label_html: {class: 'uk-hidden-small'}, input_html: {class: 'uk-width-small-1-1 uk-width-medium-1-4'} %>
</div>

<div class="uk-form-row">
    <%= f.input :start_date, :class => 'text-field form-control',label_html: {class: 'uk-width-small-1-1 uk-width-medium-1-4'} %>
</div>
<div class="uk-form-row">
    <%= f.input :end_date, :class => 'text-field form-control',label_html: {class: 'uk-width-small-1-1 uk-width-medium-1-4'} %>
</div>
<div class="uk-form-row submit-row">
    <%= f.submit nil, class: "uk-button uk-button-success" %>
    <%= link_to 'Back',
                  @budget.id.present? ? edit_budget_path(@budget) : budgets_path, :class => 'uk-button uk-button-default' %>
</div>
<% end %>
