<%= simple_form_for @budget, :html => { :class => 'uk-form-vertical form-model form-budget page-form-centered' } do |f| %>

<div class="uk-form-row">
    <%= f.input :name, :class => 'text-field form-control' %>
</div>
<div class="uk-form-row">
    <%= f.input :planned_savings, :class => 'text-field form-control' %>
</div>

<div class="uk-form-row ">
    <%= f.input :frequency_id, label: "Savings Frequency", collection: Frequency.order(:id), label_method: :readable_name, value_method: :id, include_blank: false %>
</div>
<div class="uk-form-row submit-row">
    <%= f.submit nil, class: "uk-button uk-button-success" %>
    <%= link_to 'Back',
                  budget_path(@budget), :class => 'uk-button uk-button-default' %>
</div>
<% end %>