<%- model_class = Budget -%>
<% content_for :head do %>
<%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => Budget %>
<br/>
<small><%= @budget.name %></small>
<% end %>

<section class="page-section">
    <div class="uk-width-8-10 uk-width-large-1-2 uk-width-xlarge-1-3 uk-container-center ">
        <%= render :partial => 'form' %>
    </div>
</section>

<section class="page-section">
    <%= render template: '/incomes/index' %>
</section>

<section class="page-section">
    <%= render template: '/expenses/index' %>
    <section>