<%- model_class = Budget -%>

<% content_for :head do %>
<%= t '.title', :default => model_class.to_s.pluralize %>
<% end %>
<div class="uk-text-right uk-visible-small" data-uk-scrollspy="{cls:'uk-animation-slide-left uk-animation-2', repeat: true, delay: 600}">
  Scroll <i class="uk-icon-arrow-right"></i>
</div>
<div class="uk-overflow-container">
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th class="uk-visible-small"><%=t '.actions', :default => t("helpers.actions") %></th>
                <th><%= model_class.human_attribute_name(:name) %></th>
                <th><%= model_class.human_attribute_name(:planned_savings) %></th>
                <th><%= model_class.human_attribute_name(:start_date) %></th>
                <th><%= model_class.human_attribute_name(:end_date) %></th>
                <th><%= model_class.human_attribute_name(:active) %></th>
                <th><%= model_class.human_attribute_name(:created_at) %></th>
                <th class="uk-hidden-small"><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
        </thead>
        <tbody>
            <% @budgets.each do |budget| %>
            <tr>
              <td class="uk-visible-small">
                  <%= render partial: 'elements/table_actions', locals: {model: budget} %>
              </td>
                <td><%= budget.name %></td>
                <td><%= budget.planned_savings %></td>
                <td><%= budget.start_date %>
                </td>
                <td><%= budget.end_date %>
                </td>
                <td><%= budget.active %></td>
                <td><%=l budget.created_at, format: :long %></td>
                <td class="uk-hidden-small">
                    <%= render partial: 'elements/table_actions', locals: {model: budget} %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>

    <%= link_to new_budget_path, class: 'uk-button uk-button-primary' do %>
    <i class="uk-icon-plus fa-fw"></i>
    New
    <% end %>
</div>