<%- model_class = Budget -%>

<% content_for :head do %>
<%= t '.title', :default => model_class.to_s.pluralize %>
<% end %>
<table class="uk-table uk-table-striped">
    <thead>
        <tr>
            <th><%= model_class.human_attribute_name(:name) %></th>
            <th><%= model_class.human_attribute_name(:planned_savings) %></th>
            <th>Savings Frequency</th>
            <th><%= model_class.human_attribute_name(:active) %></th>
            <th><%= model_class.human_attribute_name(:created_at) %></th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
    </thead>
    <tbody>
        <% @budgets.each do |budget| %>
        <tr>
            <td><%= budget.name %></td>
            <td><%= budget.planned_savings %></td>
            <td><%= budget.frequency.name.capitalize %> </td>
            <td><%= budget.active %></td>
            <td><%=l budget.created_at, format: :long %></td>
            <td>
                <%= link_to budget_path(budget), :class => 'uk-icon-button uk-icon-pencil uk-text-primary', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
                <%- end -%>
                <%= link_to budget_path(budget), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'uk-icon-button uk-icon-remove uk-text-danger', :title => "#{ t('.destroy', :default =>
                t('helpers.links.destroy')) }" do %>
                <%- end -%>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= link_to new_budget_path, class: 'uk-button uk-button-primary' do %>
            <i class="uk-icon-plus fa-fw"> </i> New
            <% end %>