<% model ||= @income %>
<% path ||= edit_budget_path(@budget) %>

<%= simple_form_for model, :html => { :class => 'uk-form-vertical form-model page-form-centered' } do |f| %>

<div class="uk-form-row ">
    <%= f.input :frequency_id, collection: Frequency.order(:weight), label_method: :readable_name, value_method: :id, include_blank: false,label_html: {class: 'uk-hidden-small'}, input_html: {class: 'uk-width-small-1-1 uk-width-medium-1-4'} %>
</div>
<div class="uk-form-row ">
    <%= f.input :name, placeholder: "Name", label_html: {class: 'uk-hidden-small'}, input_html: {class: 'uk-width-small-1-1 uk-width-medium-1-4'} %>
</div>
<div class="uk-form-row ">
    <%= f.input :amount, placeholder: "Amount", label_html: {class: 'uk-hidden-small'}, input_html: {class: 'uk-width-small-1-1 uk-width-medium-1-4'} %>
</div>
<div class="uk-form-row ">
    <%= f.input :category, placeholder: "Category", hint: "Can be anything! Will autocomplete with values you've chosen before.", :url => autocomplete_income_category_incomes_path, :as => :autocomplete,label_html: {class: 'uk-hidden-small'}, input_html: {class: 'uk-width-small-1-1 uk-width-medium-1-4'} %>
</div>
<div class="uk-form-row ">
    <%= f.input :date, label_html: {class: 'uk-hidden-small'}, input_html: {class: 'uk-width-1-3 uk-width-medium-1-6'} %>
</div>
<div class="uk-form-row ">
    <%= f.input :notes, placeholder: "Notes", label_html: {class: 'uk-hidden-small'}, input_html: {class: 'uk-width-small-1-1 uk-width-medium-1-4'} %>
</div>
<div class="uk-form-row submit-row">
    <%= f.submit nil, class: "uk-button uk-button-success" %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                      path, :class => 'uk-button uk-button-danger' %>
</div>
<% end %>
