<% model ||= @income %>
<% path ||= edit_budget_path(@budget) %>

<%= simple_form_for model, :html => { :class => 'uk-form-vertical form-model page-form-centered' } do |f| %>

<div class="uk-form-row ">
  <%= f.input :frequency_id, collection: Frequency.order(:id), label_method: :readable_name, value_method: :id, include_blank: false %>
</div>
<div class="uk-form-row ">
      <%= f.input :name %>
    </div>
<div class="uk-form-row ">
      <%= f.input :amount %>
    </div>
<div class="uk-form-row ">
      <%= f.input :notes %>
    </div>
    <div class="uk-form-row submit-row">
        <%= f.submit nil, class: "uk-button uk-button-success" %> 
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                      path, :class => 'uk-button uk-button-danger' %>
    </div>
<% end %>
