<%- model_class = Income -%>
<div class="section-header">
    <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class %></h1>
</div>
<div class="uk-text-right uk-visible-small" data-uk-scrollspy="{cls:'uk-animation-slide-left uk-animation-2', repeat: true, delay: 600}">
    Scroll
    <i class="uk-icon-arrow-right"></i>
</div>
<div class="uk-overflow-container">
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th class="uk-visible-small"><%=t '.actions', :default => t("helpers.actions") %></th>
                <th><%= model_class.human_attribute_name(:frequency) %></th>
                <th><%= model_class.human_attribute_name(:name) %></th>
                <th><%= model_class.human_attribute_name(:amount) %></th>
                <th><%= model_class.human_attribute_name(:category) %></th>
                <th><%= model_class.human_attribute_name(:date) %></th>
                <th><%= model_class.human_attribute_name(:notes) %></th>
                <th><%= model_class.human_attribute_name(:created_at) %></th>
                <th class="uk-hidden-small"><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
        </thead>
        <tbody>
            <% @incomes.each do |income| %>
            <tr>

                <td class="uk-visible-small">
                    <%= render partial: 'elements/table_actions', locals: {model: income} %>
                </td>
                <td><%= income.frequency.name.capitalize %></td>
                <td><%= income.name %></td>
                <td><%= income.amount %></td>
                <td><%= income.category %></td>
                <td>
                    <% if income.frequency == Frequency.where(name: 'one-time').first %>
                    <%= income.date %>
                <% else %>
                    N/A
                    <% end %>
                </td>
                <td><%= income.notes %></td>
                <td><%=l income.created_at, format: :long %></td>
                <td class="uk-hidden-small">
                    <%= render partial: 'elements/table_actions', locals: {model: income} %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>

    <% if @budget.present? %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
            new_budget_income_path(@budget),
            :class => 'uk-button uk-button-primary' %>
    <% end %>
</div>