<%- model_class = Income -%>
<div class="section-header">
<h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class %></h1>
</div>
<table class="uk-table uk-table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:frequency) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:category) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:notes) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><%= income.frequency.name.capitalize %></td>
        <td><%= income.name %></td>
        <td><%= income.amount %></td>
        <td><%= income.category %></td>
        <td>
        <% if income.frequency == Frequency.where(name: 'one-time').first %>
          <%= income.date %>
          <% else %>
          N/A
        <% end %>
        </td>
        <td><%= income.notes %></td>
        <td><%=l income.created_at, format: :long %></td>
        <td>
          <%= link_to income_path(income), :class => 'uk-icon-button uk-icon-pencil uk-text-primary', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
          <%- end -%>
          <%= link_to income_path(income), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'uk-icon-button uk-icon-remove uk-text-danger', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_budget_income_path(@budget),
            :class => 'uk-button uk-button-primary' %>
