<%= render partial: 'elements/banner' %>
<% if user_signed_in? %>

<div class="dashboard">
    <div class="uk-width-small-8-10 uk-container-center uk-grid">
        <div class="uk-width-small-1-1">
            <h1 class="dashboard-header">
                Dashboard
            </h1>
        </div>
    </div>
    <% @budget.each do |budget| %>
    <%  
          incomes = Income.where(budget: @budget) 
          expenses = Expense.where(budget: @budget) 
          %>
    <section class="content-section">
        <div class="uk-width-small-8-10 uk-container-center uk-grid">
            <div class="uk-width-small-1-1">
                <div class="uk-width-small-1-3 uk-container-center uk-text-center">
                <h2 >
                    Total Daily Allowance:
                    <%= number_to_currency(allowance budget, incomes, expenses, 'daily') %>
                </h2>
                <p> to reach the savings goal of <%= number_to_currency(budget.planned_savings) %> <%= budget.frequency.name %> </p>
            </div>
        </div>
            
            <div class="uk-width-small-1-1">
                <div class="uk-width-small-1-2 uk-container-center">
                        <hr class="line-break"/>
                </div>
            </div>
            <div class="uk-width-small-1-6 uk-vertical-align">
                <h2 class="uk-vertical-align-middle">
                    Quick Look
                </h2>
            </div>
            <div class="uk-width-small-1-4 uk-grid">
                <div class="uk-width-small-1-2  uk-text-center">
                    <%= pie_chart expenses.group(:category).count, legend: false, height: "100px" %>
                    <p>Expense Categories</p>
                </div>
                <div class="uk-width-small-1-2  uk-text-center">
                    <%= pie_chart incomes.group(:category).count, legend: false, height: "100px" %>
                    <p>Income Categories</p>
                </div>
            </div>
        </div>
    </section>
    <% end %>
</div>
<% end %>