<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "uk-form uk-form-stacked form-user"}) do |f| %>
<fieldset>

    <div class="uk-form-row large-form uk-form-icon">
        <i class="uk-icon-user"></i>
        <%= f.text_field :login, placeholder: 'username', class: 'uk-width-1-1', html: {spellcheck: "false"} %>
    </div>

    <div class="uk-form-row large-form uk-form-icon">
        <i class="uk-icon-lock"></i>
        <%= f.password_field :password, placeholder: 'password', class: 'uk-width-1-1',  html: {autocomplete: "off"} %>
        <%= link_to "Show", nil, class:"uk-form-password-toggle", data: {uk_form_password: nil} %>
    </div>

    <div class="uk-form-row">
        <%= f.submit "LOGIN", class: "uk-button uk-width-1-1" %>
    </div>

    <% if devise_mapping.rememberable? -%>
    <div class="uk-form-row uk-width-1-1 large-font margin-top-15 remember-me">
        <%= f.label :remember_me, class: "uk-form-label uk-form-controls uk-form-controls-text" do  %>
        <%= f.check_box :remember_me %>
        Remember Me
        <% end %>
    </div>
    <% end -%>

    <div class="uk-form-row">
        <%= render "devise/shared/links" %>
    </div>
</fieldset>
<% end %>