<!DOCTYPE html>
<html>
    <head>
        <title>ScapesBudget</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'session', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- Prelang: Analytics / Google Analytics -->
        <%= analytics_init if Rails.env.production? or Rails.env.development? %></head>
    <body>

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <%= render partial: "elements/navbar" %>
            <% if defined?(Devise) %>
            <% if user_signed_in? %>
            <%= render partial: "elements/sidebar" %>
            <% end %>
            <% end %>
        </nav>

        <div id="page-wrapper" class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <%= bootstrap_flash %>

                    <%= yield %>
                </div>
            </div>
        </div>
    </body>
</html>
