<!DOCTYPE html>
<html>
    <head>
        <title>ScapesBudget</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'session', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- Prelang: Analytics / Google Analytics -->
        <%= analytics_init if Rails.env.production? or Rails.env.development? %></head>
    <body>

        <div class="uk-cover-background uk-height-viewport" style="background-image: url(/assets/stocks.jpeg);">
            <nav class="uk-navbar" role="navigation" style="margin-bottom: 0">
                <div class="uk-grid">
                    <div class="uk-width-small-1-9 ">
                        <%= render partial: "elements/navbar" %>
                        <% if defined?(Devise) %>
                        <% if user_signed_in? %>
                        <%= render partial: "elements/sidebar" %>
                        <% end %>
                        <% end %>
                    </div>
                </div>
            </nav>

            <div id="page-wrapper" class="uk-grid ">
                <div class="uk-width-small-9-10">
                    <div class="uk-width-small-1-2 uk-container-center transparent-black uk-height-viewport">
                        <div class="uk-width-small-1-2 uk-container-center">

                            <%= yield %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>